@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center transparent-image-container">
        <img src="/images/ramgar.png" alt="Descriptive text" class="transparent-image" />
    </div>
</body>