@model Ambe.Frontend.Models.Entidades.Grados
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/ModalLayout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <img src="/images/ramgarlogo.jpg" style="width: 100px; height: auto;" />
        </div>
        <div class="card-body">
            <h5>Crear Grado </h5>
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdInstituto" />
                <input type="hidden" asp-for="Estado" />
                <input type="hidden" asp-for="CreadoPor" />
                <input type="hidden" asp-for="ModificadoPor" />
                <input type="hidden" asp-for="FechaDeCreacion" />
                <input type="hidden" asp-for="FechaDeModificacion" />

                <div class="form-group">
                    <input asp-for="Grado" class="form-control" placeholder="Descripcion" />
                    <span asp-validation-for="Grado" class="text-danger"></span>
                </div>

                <div class="card-footer text-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">
                            <i class="oi oi-check"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
                            <i class="oi oi-arrow-thick-left"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


